html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

.grid-template {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color: #196c00;
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #196c00;
    color: white;
}

/* shared classes */

h1 {
    font-size: 2.5rem;
    padding: 1rem 0;
    display: block;
}

h2 {
    font-size: 2.2rem;
    padding: 1rem 0;
}

li {
    list-style-type: none;
}

a.navbar-link {
    text-decoration: none;
    color: white;
}

a.navbar-link:hover {
    color: orangered;
}

header a {
    padding: 1rem;
}

.badge {
    background-color: orangered;
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.6rem;
    font-size: 1.6rem;
    position: relative;
    left: -1.5rem;
    top: -0.7rem;
}

.button {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: orange;
}

.button:active {
    background-color: white;
    color: orangered;
}

.button.block {
    width: 100%;
    margin-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.centered {
    justify-content: center;
}

.top {
    align-items: flex-start;
}

.col {
    flex: 1 1 50rem;
}

.col-small {
    flex: 1 1 25rem;
}

.min-30 {
    min-width: 30rem;
}

.prod-image {
    border-radius: 0.5rem;
    width: 100%;
}

.prod-image-small {
    max-width: 10rem;
    width: 100%;
}

.card {
    border: 0.1rem #196c00 solid;
    background-color: #bfd4bd;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem;
    text-align: center;
}

.row-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

.prod-desc {
    max-width: 40rem;
    height: 11rem;
}

.price {
    font-size: 1.8rem;
}

.disponibile {
    color: #196c00;
    font-weight: 500;
}

.esaurito {
    color: red;
    font-weight: 500;
}

.danger {
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
}

.alert-info {
    color: #2020a0;
    background-color: #e0e0ff;
}

.alert-danger {
    color: #a02020;
    background-color: #ffe0e0e0;
}

/* form  */

input {
    padding: 1rem 0.8rem;
    text-align: center;
    margin: 0 0 2rem;
}

.form {
    max-width: 60rem;
    margin: 0 auto;
}

.form > div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
}

.form-text {
    margin-top: 1.5rem;
}

.form-text-link {
    color: #196c00;
}

.radio {
    margin-right: 2rem;
}

/* dropdown */

.dropdown {
    display: inline-block;
    position: relative;
    color: white;
    padding: 0 1rem;
    cursor: pointer;
}

.dropdown:hover {
    color: orangered;
}

.dropdown-content {
    position: absolute;
    top: 4rem;
    right: -2rem;
    padding: 1rem;
    z-index: 1000;
    min-width: 12rem;
    background-color: #196c00;
    margin: 0;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
}

.dropdown-off {
    display: none;
}

.right {
    transform: rotate(-90deg);
}
.down {
    transform: rotate(0deg);
}

/*  checkout */

.checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color:#c0c0c0;
    flex: 1;
    padding: 1rem;
}

.checkout-steps > div.active {
    border-top:0.3rem orangered solid;
    font-weight: bold;
    color: orangered;
}

.checkout-nav-link {
    text-decoration: none;
    color: inherit;
}

.column {
 display: flex;
 flex-direction: column;
}